/* Reset default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #2c3e50; /* Dark blue background */
  color: white;
}

header {
  background-color: #1a2530; /* Darker blue header */
  text-align: center;
  padding: 40px 20px;
}

header h1, header h3 {
  color: #ecf0f1; /* Light text for the header */
}

header p {
  margin-top: 10px;
}

header a img {
  margin: 10px;
}

h2, h3 {
  color: #1abc9c; /* Light greenish-blue color for headings */
}

section {
  margin: 40px 0;
  padding: 20px;
}

h2 {
  font-size: 1.8em;
}

ul {
  list-style-type: none;
}

ul li {
  margin-bottom: 10px;
}

ul li strong {
  color: #16a085; /* Greenish color for strong text */
}

.tech-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tech-card {
  background-color: #34495e;
  padding: 10px;
  border-radius: 5px;
  color: #ecf0f1;
}

footer {
  background-color: #1a2530;
  color: #ecf0f1;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}

footer p {
  font-size: 1em;
}

/* Responsive Design */
@media (max-width: 768px) {
  main {
    padding: 10px;
  }

  header h1 {
    font-size: 2em;
  }

  header h3 {
    font-size: 1.3em;
  }

  .tech-cards {
    justify-content: center;
  }
}
